In [13]:
import pandas as pd
import numpy as np
import codecs

import os
import ctypes
import time
from matplotlib import pyplot as plt

import collections
from collections import Counter

import csv
from operator import itemgetter

import networkx as nx
import networkx as nx
from networkx.algorithms import community

from itertools import combinations

# Paper2Paper Layer

In [14]:
#import dataset
df_p2p = pd.read_csv('NETWORK_P2P_t=full.csv')
df_p2p_2019_2013 = pd.read_csv('NETWORK_P2P_t=2019_2013.csv')
df_p2p_2012_2006 = pd.read_csv('NETWORK_P2P_t=2012_2006.csv')
df_p2p_2005_1999 = pd.read_csv('NETWORK_P2P_t=2005_1999.csv')

print(df_p2p.shape, df_p2p_2019_2013.shape, df_p2p_2012_2006.shape, df_p2p_2005_1999.shape)
df_p2p.head()

(3784, 2) (2083, 3) (1245, 3) (486, 3)

                        OG_PAPER                      REF_PAPER
0    10.1016/j.ifset.2010.06.006    10.1016/j.ifset.2009.08.014
1    10.1016/j.desal.2010.04.063    10.1016/j.desal.2009.09.030
2  10.1016/j.jhazmat.2010.05.073  10.1016/j.jhazmat.2008.11.037
3              10.1021/op100157q              10.1021/op0501444
4    10.1088/0004-637X/718/1/543                 10.1086/605730

In [15]:
def p2p_mux(df):
    df['layer1'] = 1
    df['layer2'] = 1
    df = df[['OG_PAPER','layer1','REF_PAPER','layer2']]
    df.columns = ['From','layer1','To','layer2']
    df.From = df.From.str.strip()
    df.To = df.To.str.strip()   
    return df

In [16]:
df_p2p_mux_2019_2013 = p2p_mux(df_p2p_2019_2013)
df_p2p_mux_2012_2006 = p2p_mux(df_p2p_2012_2006)
df_p2p_mux_2005_1999 = p2p_mux(df_p2p_2005_1999)
df_p2p_mux = p2p_mux(df_p2p)

print(df_p2p_mux.shape, df_p2p_mux_2019_2013.shape, df_p2p_mux_2012_2006.shape, df_p2p_mux_2005_1999.shape)
df_p2p_mux.head()

(3784, 4) (2083, 4) (1245, 4) (486, 4)

/opt/anaconda/envs/Python3/lib/python3.6/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,From,layer1,To,layer2
0,10.1016/j.ifset.2010.06.006,1,10.1016/j.ifset.2009.08.014,1
1,10.1016/j.desal.2010.04.063,1,10.1016/j.desal.2009.09.030,1
2,10.1016/j.jhazmat.2010.05.073,1,10.1016/j.jhazmat.2008.11.037,1
3,10.1021/op100157q,1,10.1021/op0501444,1
4,10.1088/0004-637X/718/1/543,1,10.1086/605730,1

# Author2Author Layer

In [17]:
#import dataset
df_a2a = pd.read_csv('NETWORK_A2A_t=full_finalfinal.csv')
df_a2a_2019_2013 = pd.read_csv('NETWORK_A2A_t=2019_2013.csv')
df_a2a_2012_2006 = pd.read_csv('NETWORK_A2A_t=2012_2006.csv')
df_a2a_2005_1999 = pd.read_csv('NETWORK_A2A_t=2005_1999.csv')

print(df_a2a.shape, df_a2a_2019_2013.shape, df_a2a_2012_2006.shape, df_a2a_2005_1999.shape)
df_a2a.head()

(588682, 2) (253424, 2) (71333, 2) (32048, 2)

     OG_Author     REF_Author
0    S. Norton     C. Decamps
1    S. Norton      S. Norton
2    S. Norton    D. Poncelet
3    S. Norton  R. J. Neufeld
4  D. Poncelet     C. Decamps

In [18]:
def a2a_mux(df):
    df['layer1'] = 2
    df['layer2'] = 2
    df = df[['OG_Author','layer1','REF_Author','layer2']]
    df.columns = ['From','layer1','To','layer2']
    df.From = df.From.str.strip()
    df.To = df.To.str.strip()   
    return df

In [19]:
df_a2a_mux_2019_2013 = a2a_mux(df_a2a_2019_2013)
df_a2a_mux_2012_2006 = a2a_mux(df_a2a_2012_2006)
df_a2a_mux_2005_1999 = a2a_mux(df_a2a_2005_1999)
df_a2a_mux = a2a_mux(df_a2a)

print(df_a2a_mux.shape, df_a2a_mux_2019_2013.shape, df_a2a_mux_2012_2006.shape, df_a2a_mux_2005_1999.shape)
df_a2a_mux.head()

(588682, 4) (253424, 4) (71333, 4) (32048, 4)

          From  layer1             To  layer2
0    S. Norton       2     C. Decamps       2
1    S. Norton       2      S. Norton       2
2    S. Norton       2    D. Poncelet       2
3    S. Norton       2  R. J. Neufeld       2
4  D. Poncelet       2     C. Decamps       2

# Co-Author Layer

In [20]:
#import dataset
df_co = pd.read_csv('NETWORK_Co-Author_t=full_final.csv')

df_co_2019_2013 = pd.read_csv('NETWORK_Co-Author_t=2019_2013.csv')
df_co_2012_2006 = pd.read_csv('NETWORK_Co-Author_t=2012_2006.csv')
df_co_2005_1999 = pd.read_csv('NETWORK_Co-Author_t=2005_1999.csv')

print(df_co.shape, df_co_2019_2013.shape, df_co_2012_2006.shape, df_co_2005_1999.shape)
df_co.head(1)

(40230, 2) (16270, 2) (8740, 2) (3038, 2)

       Source      Target
0  Decamps, C   Norton, S

In [21]:
def co_mux(df):
    df['layer1'] = 3
    df['layer2'] = 3
    df = df[['Source','layer1','Target','layer2']]
    df.columns = ['From','layer1','To','layer2']
    df.From = df.From.str.strip()
    df.To = df.To.str.strip()   
    return df

In [22]:
df_co_mux_2019_2013 = co_mux(df_co_2019_2013)
df_co_mux_2012_2006 = co_mux(df_co_2012_2006)
df_co_mux_2005_1999 = co_mux(df_co_2005_1999)
df_co_mux = co_mux(df_co)

print(df_co_mux.shape, df_co_mux_2019_2013.shape, df_co_mux_2012_2006.shape, df_co_mux_2005_1999.shape)
df_co_mux.head()

(40230, 4) (16270, 4) (8740, 4) (3038, 4)

         From  layer1           To  layer2
0  Decamps, C       3    Norton, S       3
1  Decamps, C       3  Poncelet, D       3
2  Decamps, C       3  Neufeld, RJ       3
3   Norton, S       3  Poncelet, D       3
4   Norton, S       3  Neufeld, RJ       3

# Link between layers

In [23]:
#import dataset LINK 1-2
df_link12 = pd.read_csv('SUPPORT_Co-Author_t=full_link12.csv')
print(df_link12.shape)
df_link12.head(1)

(15718, 4)

                        From  layer1             To  layer2
0  10.1109/taes.2010.5595582       1  Todd E. Humph       2

In [24]:
#df_link12[df_link12['To']=='L. Bromberg']
#df_link12[df_link12['To']=='T. Brown']

In [25]:
#import dataset LINK 1-3
df_link13 = pd.read_csv('SUPPORT_Co-Author_t=full_link13.csv')
print(df_link13.shape)
df_link13.head(1)

(15718, 4)

                        From  layer1             To  layer2
0  10.1109/taes.2010.5595582       1  Todd E. Humph       3

----

# MuxViz

### Edgelist

In [26]:
def edge(df_p2p_mux, df_a2a_mux, df_co_mux):
    #combine all three network layers
    df_edge = pd.concat([df_p2p_mux, df_a2a_mux, df_co_mux]) #, df_link12, df_link13])

    #format strings
    df_edge.From = df_edge.From.str.strip()
    df_edge.To = df_edge.To.str.strip()

    #df_edge.From = df_edge.From

    #add weight columns, set = 1 since unweigthed network
    df_edge['Weight'] = 1

    #output
    return df_edge

In [27]:
df_edge = edge(df_p2p_mux, df_a2a_mux, df_co_mux)
df_edge_2019_2013 = edge(df_p2p_mux_2019_2013, df_a2a_mux_2019_2013, df_co_mux_2019_2013)
df_edge_2012_2006 = edge(df_p2p_mux_2012_2006, df_a2a_mux_2012_2006, df_co_mux_2012_2006)
df_edge_2005_1999 = edge(df_p2p_mux_2005_1999, df_a2a_mux_2005_1999, df_co_mux_2005_1999)

df_edge.shape, df_edge_2019_2013.shape, df_edge_2012_2006.shape, df_edge_2005_1999.shape

((632696, 5), (271777, 5), (81318, 5), (35572, 5))

### Layout file

In [28]:
def muxviz_layout(df):
    #rename both from and to into 'nodeLabel'
    FROM = pd.DataFrame(df["From"])
    FROM = FROM.rename(columns={"From": "nodeLabel"})
    
    TO = pd.DataFrame(df["To"])
    TO = TO.rename(columns={"To": "nodeLabel"})
    
    #combine all labels
    labels = FROM.append(TO)
    
    #format strings
    labels.nodeLabel = labels.nodeLabel.str.strip()
    
    #drop duplicates
    labels.drop_duplicates(subset ="nodeLabel", keep = "first", inplace = True) 
    
    #create 'nodeID'
    labels = labels.reset_index().drop(columns=['index']).reset_index().rename(columns={"index": "nodeID"})
    labels['nodeID'] += 1
    
    return labels

In [29]:
df_layout = muxviz_layout(df_edge)
df_layout_2019_2013 = muxviz_layout(df_edge_2019_2013)
df_layout_2012_2006 = muxviz_layout(df_edge_2012_2006)
df_layout_2005_1999 = muxviz_layout(df_edge_2005_1999)

#output
print(df_layout.shape, df_layout_2019_2013.shape, df_layout_2012_2006.shape, df_layout_2005_1999.shape)
df_layout.head()

(90153, 2) (39811, 2) (14193, 2) (6333, 2)

   nodeID                      nodeLabel
0       1    10.1016/j.ifset.2010.06.006
1       2    10.1016/j.desal.2010.04.063
2       3  10.1016/j.jhazmat.2010.05.073
3       4              10.1021/op100157q
4       5    10.1088/0004-637X/718/1/543

In [30]:
#save layout file
df_layout.to_csv('MUXVIZ/SUPPORT_MuxViz_layout_t=full.txt', header=True, index=False, sep=' ', mode='a')

df_layout_2019_2013.to_csv('MUXVIZ/SUPPORT_MuxViz_layout_t=2019_2013.txt', header=True, index=False, sep=' ', mode='a')
df_layout_2012_2006.to_csv('MUXVIZ/SUPPORT_MuxViz_layout_t=2012_2006.txt', header=True, index=False, sep=' ', mode='a')
df_layout_2005_1999.to_csv('MUXVIZ/SUPPORT_MuxViz_layout_t=2005_1999.txt', header=True, index=False, sep=' ', mode='a')

### Edgelist (w/ nodeID replacement)

In [31]:
df_test_edge = df_edge.copy()
df_test_edge_2019_2013 = df_edge_2019_2013.copy()
df_test_edge_2012_2006 = df_edge_2012_2006.copy()
df_test_edge_2005_1999 = df_edge_2005_1999.copy()

df_test_layout = df_layout.copy()
df_test_layout_2019_2013 = df_layout_2019_2013.copy()
df_test_layout_2012_2006 = df_layout_2012_2006.copy()
df_test_layout_2005_1999 = df_layout_2005_1999.copy()

In [32]:
#df_test_edge_2012_2006[(df_test_edge_2012_2006['From']=='W. Gernjak') & (df_test_edge_2012_2006['layer1']==2)]

In [33]:
def edge_nodeID(df_test_edge, df_test_layout):
    #1st merge
    #Change 'From'-value to noodeID - required for MuxViz
    ##################################################################
    df_test_edge_FROM = df_test_edge.rename({'From':'nodeLabel'}, axis=1)
    df_merge_FROM = pd.merge(df_test_layout, df_test_edge_FROM, on='nodeLabel')

    #drop nodeLabel
    df_merge_FROM = df_merge_FROM.drop(['nodeLabel'], axis=1)

    #rename to original column name (needed ofr second merge)
    df_merge_FROM = df_merge_FROM.rename({'nodeID':'From'}, axis=1)

    #clean dataframe
    #df_merge_FROM = df_merge_FROM.reset_index().drop('index', axis=1)

    #output
    #print(df_merge_FROM.shape, df_merge_FROM.head(1))
    
    #2nd merge
    #Change 'From'-value to noodeID - required for MuxViz
    ##################################################################
    df_merge_TO = df_merge_FROM.rename(columns={'To': "nodeLabel"})
    df_merge_TO = pd.merge(df_test_layout, df_merge_TO, on='nodeLabel')

    #drop nodeLabel
    df_merge_TO = df_merge_TO.drop(['nodeLabel'], axis=1)

    #rename to original column name (needed ofr second merge)
    df_merge_TO = df_merge_TO.rename({'nodeID':'To'}, axis=1)

    #clean dataframe
    #df_merge_FROM = df_merge_FROM.reset_index().drop('index', axis=1)

    #output
    #print(df_merge_TO.shape, df_merge_TO.head(1))
    
    #final outout for edgelist w/ nodeID replacement
    df_edge_nodeID = df_merge_TO.copy()
    df_edge_nodeID = df_edge_nodeID[['From','layer1','To','layer2','Weight']]

    #sort dataframe by 'From'-nodeID
    df_edge_nodeID = df_edge_nodeID.sort_values(by='From', ascending=True, na_position='first')
    df_edge_nodeID = df_edge_nodeID.reset_index().drop('index', axis=1)

    #output
    print(df_edge_nodeID.shape)
    return df_edge_nodeID

In [34]:
#timebins edge-list
df_edge_nodeID = edge_nodeID(df_test_edge, df_test_layout)

df_edge_nodeID_2019_2013 = edge_nodeID(df_test_edge_2019_2013, df_test_layout_2019_2013)
df_edge_nodeID_2012_2006 = edge_nodeID(df_test_edge_2012_2006, df_test_layout_2012_2006)
df_edge_nodeID_2005_1999 = edge_nodeID(df_test_edge_2005_1999, df_test_layout_2005_1999)

(632696, 5)
(271777, 5)
(81318, 5)
(35572, 5)

In [35]:
#df_edge_nodeID[df_edge_nodeID['From']=='']

In [33]:
#save file for muxviz
df_edge_nodeID.to_csv('MUXVIZ/SUPPORT_MuxViz_edges_t=full.txt', header=False, index=False, sep=' ', mode='a')
df_edge_nodeID_2019_2013.to_csv('MUXVIZ/SUPPORT_MuxViz_edges_t=2019_2013.txt', header=False, index=False, sep=' ', mode='a')
df_edge_nodeID_2012_2006.to_csv('MUXVIZ/SUPPORT_MuxViz_edges_t=2012_2006.txt', header=False, index=False, sep=' ', mode='a')
df_edge_nodeID_2005_1999.to_csv('MUXVIZ/SUPPORT_MuxViz_edges_t=2005_1999.txt', header=False, index=False, sep=' ', mode='a')

----

In [49]:
#df_edge
#df_edge_2019_2013 
#df_edge_2012_2006 
#df_edge_2005_1999

df_cited = df_edge_2005_1999.copy()
df_cited.head(1)
df_cited[df_cited['layer2']==2]
df_cited['To'].nunique()

6058

38604